<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item navbar-brand-mini-wrapper">
      <a class="nav-link navbar-brand brand-logo-mini" href="/dashboard"></a>
    </li>

    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="text-wrapper">
          <p class="profile-name" id="profileName">Henry Klein</p>
          <p class="designation" id="profileDesignation">Administrator</p>
        </div>
      </a>
    </li>
    
    <li class="nav-item mt-2 mb-3 px-3">
        <button id="logoutButton" class="btn btn-danger btn-block" style="width: 100%; border-radius: 4px;">
            <i class="icon-logout me-2"></i> Logout
        </button>
    </li>
    
    <li class="nav-item nav-category">
      <span class="nav-link">Dashboard</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span class="menu-title">Dashboard</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>